name: "Verify Markdown formatting"

on:
  push:
    paths:
      - "**.md"
  pull_request:
    paths:
      - "**.md"

jobs:
  verify-markdown-for-repository:
    if: github.ref == "refs/heads/master"
    runs-on: [ubuntu-latest]
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Verify Markdown formatting"
        run: npx prettier@2.0.4 --check "**/*.md"

  verify-markdown-for-pr:
    if: github.ref != "refs/heads/master"
    runs-on: [ubuntu-latest]
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v2

      - name: "Verify Markdown formatting"
        run: |
          PULL_REQUEST_URL=$(jq -r ".pull_request.url" "$GITHUB_EVENT_PATH")
          curl --url $"${PULL_REQUEST_URL}/files" --header 'authorization: Bearer ${{ secrets.GITHUB_TOKEN }}' | \
            jq -c '.[] | select(.status == "added" or .status == "modified") | select(.filename | match(".md$")) | .filename' | \
            xargs npx prettier@2.0.4 --write
